@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Mulish&display=swap");
.heading {
  color: #ffffff;
  width: 100;
  font-family: "Montserrat", sans-serif;
}
.textContent {
  color: #c1d1e8;
  font-family: "Mulish", sans-serif;
}
.inputText {
  color: #182c47;
  font-family: "Mulish", sans-serif;
}
